.truncate {
  overflow: visible;
  text-overflow: clip;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-all;
}

body {
  font-family: "IBM Plex Sans JP", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "LINE Seed JP", sans-serif;
}